@{
  Layout = "_Layout";
  string userName = ViewBag.UserName;
}

<h2>Mouse Mingler User Account</h2>
<hr />

<div class="account-main">
@if (userName != null)
{
  <h2>Hello <em>@userName!</em></h2>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <div class="account-form">
    <input type = "submit" class="btn btn-primary" value="Log out" />
    @* <p>@Html.ActionLink("Delete account", "Delete")</p> *@
    </div>
  }

}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}
</div>

