@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;800&family=Palette+Mosaic&display=swap');

:root {
  --main-light: #FAFDF6;
  --light1: #E3B505;
  --dark2: #95190C;
  --light2: #2E86AB;
  --font: #191919;
  --main-font: "Inconsolata", Helvetica, sans-serif;
  --header-font-fam: "Palette Mosaic", Helvetica, sans-serif;
}

/* navbar */
.nav-logo {
  width: 20%;
}

.home-header {
  display: flex;
  justify-content: space-evenly;
}
/* home index header */
.header-gif {
  width: 25%;
  animation: move 5s linear infinite;
}

body {
  background-color: var(--main-light);
  margin-bottom: 60px;
  font-family: var(--main-font);
}

h1 {
  font-family: var(--header-font-fam);
  color: var(--font)
}

html {
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
}

/* Meet the mischielf --> Rodnets/Index */

.profile-container {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.rodent-profile-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  background-color: var(--light1);
  align-items: center;
  border-radius: 20px;
  padding: 2em;
  margin: 2em;
  box-shadow: 1px 1px 2px var(--font);
}

.rodent-profile-card img {
  width: 80%;
  border-radius: 50%;
  border: 2px double var(--dark2);
}

.rodent-profile-card h2 {
  font-family: var(--header-font-fam);
  font-size: 1.5em;
}

.rodent-profile-card p {
  font-size: 24px;
}

.rodent-profile-card p>a {
  text-decoration: none;
  color: var(--light2);
}

.rodent-profile-card p>a:hover {
  color: var(--dark2);
}

.upvote-form-container {
  padding: .8em;
}

.upvote-form {
  display: flex;
  flex-direction: column;
}

.upvote-form p {
  font-size: 1em;
}

.upvote-btns {
  display: flex;
  justify-content: space-evenly;
}

.upvote {
  border: none;
  box-shadow: 1px 1px 2px var(--font);
  border-radius: 50%;
  background-color: var(--light2);
  color: var(--main-light);
  font-size: 1.2em;
  height: 1.6em;
  width: 1.6em;
}

.no {
  background-color: var(--dark2);
}
/* Rodent/Details */
.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light2);
  padding: 2em;
  border-radius: 2em;
}

.profile-details h3 {
  font-family: var(--header-font-fam);
  padding: 1em;
}

.profile-info {
  display: flex;
}

.profile-info img {
  width: 30%;
  border-radius: 20px;
  border: 2px solid var(--light1);
  box-shadow: 1px 1px 5px var(--font);
  margin: 1em;
}

.profile-info p {
  font-size: 2em;
  background-color: var(--light1);
}

.profile-info li {
  font-size: 1.2em;
  background-color: var(--light1);
}

.details-links p>a {
  text-decoration: none;
  color: var(--main-light);
}

.details-links p>a:hover {
  color: var(--light1);
}

.details-links {
  display: flex;
  justify-content: space-evenly;
}

/* Login page Accounts/Login */
.login-main, 
.register-main,
.account-main {
  background-color: var(--light1);
  width: 555px;
  margin: auto;
  padding: 1.2em;
  border-radius: 1em;
}

.login-main h2,
.register-main h2,
.account-main h2 {
  font-family: var(--header-font-fam);
  text-align: center;
}

.login-form,
.register-form,
.account-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 490px;
  margin: 1.2em;
  padding: .8em;
}

.login-input,
.register-input {
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.login-btn,
.register-btn {
  align-self: center;
  margin: .4em;
  font-size: 1.2em;
}

.login-links,
.register-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-img
.register-img {
  width: 170px;
  height: 2em;
  background-image: url(../img/skittery.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */
.footer-gif-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-gif {
  width: 10%;
  animation: move 2s linear infinite;
}

@keyframes move{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}