@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;800&family=Palette+Mosaic&display=swap');

:root {
  --main-light: #FAFDF6;
  --light1: #E3B505;
  --dark2: #95190C;
  --light2: #2E86AB;
  --font: #191919;
  --main-font: "Inconsolata", Helvetica, sans-serif;
  --header-font-fam: "Palette Mosaic", Helvetica, sans-serif;
}

/* navbar */
.nav-logo {
  width: 20%;
}

.home-header {
  display: flex;
  justify-content: space-evenly;
}
/* home index header */
.header-gif {
  width: 25%;
  animation: move 5s linear infinite;
}

body {
  background-color: var(--main-light);
  margin-bottom: 60px;
  font-family: var(--main-font);
}

h1 {
  font-family: var(--header-font-fam);
  color: var(--font)
}

html {
  font-size: 16px;
}

html {
  position: relative;
  min-height: 100%;
}

.rodent-profile-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
  background-color: var(--light1);
  align-items: center;
  border-radius: 20px;
  padding: 2em;
  margin: 2em;
}

.rodent-profile-card img {
  width: 80%;
  border-radius: 50%;
}

.rodent-profile-card h2 {
  font-family: var(--header-font-fam);
}

.rodent-profile-card p {
  font-size: 24px;
}

.rodent-profile-card p>a {
  text-decoration: none;
  color: var(--light2);
}

.rodent-profile-card p>a:hover {
  color: var(--dark2);
}

/* footer */
.footer-gif {
  width: 10%;
}

@keyframes move{
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}