@{
  ViewData["Title"] = $"Delete {Model.Name}";
}

@model MouseMingleClient.Models.Rodent

<h4>Are you sure you want to delete @Model.Name?</h4>
@Html.ActionLink("Back to details", "Details", new { id = @Model.RodentId})