<!-- all the rodents -->

@{
  ViewData["Title"] = "Everyone";
}

@using MouseMingleClient.Models;

@if (@Model.Count == 0)
{
  <p>No Rodents Yet</p>
}


<div class="profile-container">
  @foreach (Rodent rodent in Model)
  {
    <div class="rodent-profile-card">
    <h2><strong>@rodent.Name</strong></h2>
    <p>the @rodent.Species</p>
    <p><a href="/Rodents/Details/@(rodent.RodentId)">View Details</a></p>
    <img src=@rodent.ProfilePic />
    <p><span>Y</span>/<span>N</span></p>
  </div>
  }
</div>