@{
    ViewData["Title"] = "Home Page";
}

<div class=home-header>
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
    <img src="~/img/skittery.gif" alt="skittering mouse gif" class="header-gif">
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>To</h1>
    <h1 class="display-4">Mouse Mingle</h1>
    <img src="~/img/mmlogo.gif" alt="mousemingle logo">
</div>


<hr />
<p>TEST LINK</p>
<p>@Html.ActionLink("Create Rodent", "Create", "Rodents")</p>