@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mouse Mingle! </h1>
    <p> <a href=""></a>.</p>
</div>


<hr />
<p>TEST LINK</p>
<p>@Html.ActionLink("Create Rodent", "Create", "Rodents")</p>